<?xml version="1.0" encoding="UTF-8"?>
<!-- Mybaatis3 config DTD 호출 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- DB연동을 위한 설정(conn,java를 통해 Connextion을 만드는 작업과 동일하다고 보면됨) -->
<configuration>
	<environments default="">
		<environment id="">
		<!-- DBTransaction 처리방법은 JDBC transaction은 단위처리를 도와주는 얘  -->
			<transactionManager type="JDBC" />
			<!-- dataSource를 JNDI 방식으로 사용함(다른 방법으론 POOLED가 있음) dataSource는 was가 관리하는 커넥션풀에서 커넥션을 가져오는 역할을하는 객체이다. -->			
			<dataSource type="JNDI">
			<!-- dateSource의 변수 + 변수값(java:comp/env/Context.xml의 NAME) -->
				<property name="data_source" value="java:comp/env/jdbc/myora" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- DB연동 후 SQL 구문 처리를 위한 Mapper XML를 지정  -->
	<!-- prepareStatment 부분이라고 보면됨 -->
	<mappers>
	 <mapper resource="mapper/memberMap.xml"/>
	</mappers>	
	
</configuration>