@charset "UTF-8";

	
	
.tobtn {   
   color: white;
    border-radius: 5px;
    padding: 5px;
    border: 0px;
    background-color: #6777ef;
    cursor: pointer;
}
/* basic stylings ------------------------------------------ */

.add_sub {
  font-family: "Roboto";
  width: 600px;
  margin: 2% 37%;
  display: block;
  background: #fff;
  padding: 100px 50px 50px 50px;
}


/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
input.form {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input.form:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input.form ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input.form:focus ~ .bar:before,
input.form:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input.form:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.positions input {  margin:5px 10px; }
.posibtn { margin-top:10px; color: white; border-radius: 5px; padding: 5px; border: 0px; background-color: #6777ef; cursor: pointer;
	