@charset "UTF-8";

#searchbox{
width: 800px;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
margin-bottom:50px;
}

#searchbox input.insert{
width: 80%;
height: 50px;
border-radius: 3px;
}

#searchbox button{
height: 100px;
width: 95px;
padding: 0;
margin-left: -5px;
}

#Info{
	
width: 1000px;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}

#Info table{
width: 1000px;
border: 2px solid black;
margin-top: 300px;
}

#Info table, th{
	position: sticky;
    top: -1px;
    color:white;
    background-color: #6777ef !important;
}

#Info table, th, td{
font-size: 20px;	
    border: 1px solid black;
    padding: 10px 5px;
}

#Info th, td {
border: 1px solid black;
padding: 10px;	
	
}

.search {width: 7%;
	height:50px;
    margin-left: 5px;
    background: #6777ef;
    text-align: center;
    color: white;
    border: 1px;
    cursor: pointer;
    }

.multisearch_all table {width: 100%;}


.multisearch_all { width: 80%; margin:0 auto; text-align: center;border: 0px; }
.multisearch_all #multisearch_line { display:inline-block; width: 100%; background: white; margin:0.5%; background: whitesmoke; text-align: center; padding: 10px; border: 1px solid;}
.multisearch_all #multisearch_line > div.multisearch_detail {background: white;}
.multisearch_all #multisearch_line > div.multisearch_detail > div.recommend_title { text-align: center; }
.multisearch_all #multisearch_line > div.multisearch_detail > table {width: 100%; border-collapse: collapse; text-align: center; margin: auto;  }
.multisearch_all #multisearch_line > div.multisearch_detail > table th {  border: 1px solid #444444; padding: 10px; font-size: 13px;}
.multisearch_all #multisearch_line > div.multisearch_detail > table td {  border: 1px solid #444444; padding: 10px; font-size: 13px;}
.multisearch_all #multisearch_line > div.multisearch_detail > table tr:nth-child(even){background-color: #f2f2f2;}
.multisearch_all #multisearch_line > div.multisearch_detail > table a { width:100%;}
.multisearch_all #multisearch_line > div.multisearch_detail > table div.center { display: inline-block; vertical-align: middle;}

.multisearch_all #multisearch_line > div.multisearch_detail > div.multisearch_title {height: 600px; overflow: auto;}